[submodule "Inacure-Machine-Learning"]
	path = Inacure-Machine-Learning
	url = https://github.com/ramdhinafinita/Inacure_app/tree/main/Inacure-Machine-Learning
[submodule "inacure-app"]
	path = inacure-app
	url = https://github.com/ramdhinafinita/Inacure_app/tree/main/inacure-app
[submodule "inacure-api"]
	path = inacure-api
	url = https://github.com/ramdhinafinita/Inacure_app/tree/main/inacure-api
